button {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.name {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    height: auto;
    line-height: 1em;
}

.location {
    font-size: .5em;
}

.artistPhoto {
    max-width: 216px;
    height: 116px;
    object-fit: cover;
    padding: 0;
    display: flex;
}

.bio {
    padding: 0;
    height: auto;
    margin: 0;
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.artistSlide {
    width: 60vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}