.sectionHeader{
    grid-area: sectionHeader;
    display: flex;
    margin-top: 8vmin;
}

.displayGrid{
    grid-area: displayGrid;
    display: flex;
}

button {
    border: none;
    background: none;
    display: flex;
    padding: 0;
    margin: none;
    font-size: 2vmin;
    color: black;
}

#exit {
    margin-top: 8vmin;
    margin-bottom: 1vmin;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: none;
}

