.sectionHeader{
    grid-area: sectionHeader;
    display: flex;
    margin-top: 8vmin;
}

.displayGrid{
    grid-area: displayGrid;
    display: flex;
}


button {
    border: none;
    background: none;
    display: flex;
    padding: 0;
    margin: none;
    font-size: 2vmin;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: none;
}

#slideCover {
    object-fit: contain;
    width: auto;
    min-height: 15vh;
    display: flex;
    max-height: 800px;
}

.desc {
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    height: auto;
    width: auto;
    align-content: left;
    justify-content: center;
}


.detailView {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}
