.sectionHeader{
    grid-area: sectionHeader;
    display: flex;
    border: solid;
}

.displayGrid{
    grid-area: displayGrid;
    border: solid red;
    display: flex;
}

.carousel{
    grid-area: carousel;
    border: solid green;
    display: flex;
    flex-flow: wrap;
}

#releases{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vmin auto;
    grid-template-areas: 
    'sectionHeader sectionHeader'
    'displayGrid carousel';
}