

.preview_about {
    margin-top: 0;
}

.about .sectionHeader {
    border-bottom: solid #ffcebe;
    margin-bottom: 2vh;
}

.about {
    width: 70vh;
    margin-top: 16vh;
    position: relative;
    display: flex;
    flex-direction: column;
}