.postPreview .postLink {
    margin-top: 5vh;
}
.postPreview .postTitle {
    font-size: 1.1em;
    margin-right: 1vh;
}   

.postPreview img{
    width: 100%;
    height: 100%;
}

.postPreview figure {
    max-width: 15vh;
    display: inline-block;
    object-fit: scale-down;
    margin-block-start: 0vh;
    margin-inline-start: 0px;
    margin-inline-end: 0vh;
}

.previewHTML p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align:left;
    width: 50%;
}

.previewHTML {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    width: 100%;
    height: 60%;
    padding-right: 9vh;

}


.postPreview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    max-height: 30vh;
    width: auto;
    height: 40vh;
    margin-bottom: 5vh;
}

.post img {
    max-width: 40vh;
}

.postTitle {
    font-family: 'Inconsolata', monospace;
    display: flex;
    font-size: 2.5vh;
    font-weight: bold;
    padding-bottom: .5vh;
    margin: 0;
    border-bottom: solid #ffcebe;
}

.postLink {
    border-bottom: solid #ffcebe;
}

.post{
    display: flex;
    flex-wrap: wrap;
    width: 55vh;
    height: auto;
    margin-bottom: 2vh;
}

#newsPreview {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

#news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}


