
#navLinks {
  grid-area: sidebar;
}

#header {
  grid-area: header;
}

#news {
  grid-area: news;
}

#releases {
  grid-area: releases;
}

#artists {
  grid-area: artists;

}

#lastRow {
  grid-area: about;
}

.content {
  text-align: left;
}

#releases {
  grid-area: releases;
  overflow: hidden;
  height: auto;
}

#about {
  grid-area: about;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


/* global styling */
.sectionHeader {
  margin-top: 8vmin;
  margin-bottom: 1vh;
  font-size: 3.75vh;
  font-family: 'Karla', sans-serif;
}

.displayGrid {
  display: flex;
  flex-flow: wrap;
}

.displayGrid::after {
  content: "";
  flex: auto;
}

.app {
  background-color: #FFFFFF;
  color: #2C2A2D;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: 
  'news     releases'
  'artists  about';
  grid-template-columns: 50vh 50vh;
  grid-template-rows:  50vh 50vh;
  column-gap: 1vh;
  row-gap: 1vh;
}