

a {
  text-decoration: none;
  color: inherit;
}

.content {
  text-align: left;
  /* display: flex;
  flex-direction: column; */
  padding: 3vh 1vh 4vh 3vh;
  width: 100%
}

.sectionHeader {
  padding-bottom: 1vh;
  font-size: 3.75vh;
}

.cover {
  width: 30vh;
  height: 30vh;
}

.artist {
  /* display: flex; 
  flex-flow: column;
  text-align: center; */
  justify-content: center;
  font-size: 1.5vh;
  border: 1px solid slategray;
  min-width: 20vh;
  min-height: 20vh;
  grid-area: artists;
}

.description {
  min-height: 3vh;
  width: 100%;
  align-content: center;
}

.release {
  /* display: flex; 
  flex-flow: column; */
  align-items: center;
  padding-bottom: 2vh;
  font-size: 1.75vh;
  margin-right: 1vh;
}

.displayGrid {
  /* min-width: 84vh;
  display: flex;
  justify-content: stretch;
  flex-flow: row wrap; */
}

.displayGrid::after {
  content: "";
  flex: auto;
}
.loadMore {
  text-align: center;
}

#releases {
  grid-area: releases;
}

#Header {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid 1px red;
  grid-area: sidebar;
}

#logo {
  display: grid;
}

#navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
}


#about {
  grid-area: about;
}

#news {
  grid-area: news;
}

.app {
  text-align: center;
  font-family: sans-serif, "Helvetica";
  background-color: #FFFFFF;
  color: #2C2A2D;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 30% 30%;
  grid-template-rows: 20% 30% 30% 20%; 
  grid-template-areas: 
  'sidebar header header'
  'sidebar news releases'
  'sidebar artists about'
  'footer footer footer'
}