.app {
  text-align: center;
  font-family: sans-serif, "Helvetica";
  background-color: #FFFFFF;
  color: #2C2A2D;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 3vh 1vh 4vh 3vh;
  width: 100%
}

.sectionHeader {
  padding-bottom: 1vh;
  font-size: 3.75vh;
}

.cover {
  width: 30vh;
  height: 30vh;
}

.artist {
  display: flex; 
  flex-flow: column;
  text-align: center;
  justify-content: center;
  font-size: 1.5vh;
  border: 1px solid slategray;
  min-width: 20vh;
  min-height: 20vh;
}

.description {
  min-height: 3vh;
  width: 100%;
  align-content: center;
}

.release {
  display: flex; 
  flex-flow: column;
  align-items: center;
  padding-bottom: 2vh;
  font-size: 1.75vh;
  margin-right: 1vh;
}

.displayGrid {
  min-width: 84vh;
  display: flex;
  justify-content: stretch;
  flex-flow: row wrap;
}

.displayGrid::after {
  content: "";
  flex: auto;
}

.loadMore {
  text-align: center;
}

#about {
  width: 80%;
}

#lastRow {
  display: flex;
  flex-direction: row;
}

