

.photoPreview {
  display: inline-block;
  object-fit: scale-down;
  height: auto;
  width: 100%;
}

#preview_info {
  display: flex;
  justify-content: flex-end;
  background: #ffcebe;
  object-fit: contain;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: left; 
}

.preview_title{
  display: flex;
  font-size: 1.20em;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: left;
  justify-content: space-between;
  width: 17vmin;
  margin-bottom: .25em;
  height: 50%;
  word-wrap: break-word;
  hyphens: auto;
  margin-left: .5vh;
}

.release_artist {
  display: flex;
  font-size: 1em;
  height: 20%;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: left;
  margin-left: .5vh;
}

#releaseTile {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.75vh;
  max-width: 20vmin;
  max-height: 20vmin;
  word-wrap: break-word;
  hyphens: auto;
  margin-right: 1vh;
  margin-bottom: 1vh;
  object-fit: scale-down;
}

#releaseTile:hover #preview_info{
      opacity: .8;
      transition: opacity .2s;
}