.release_num {
    line-height: 2em;
}

.name {
    line-height: 1.25em;
    margin-bottom: .25em;
}

.info {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 1vh;
}

#cover {
    margin-bottom: .5em;
}

.titleCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.2em;
    height: 100%;
    width: 100%;
    border-bottom: solid #ffcebe;
}

.description {
    padding-top: 1vh;
    width: 100%;
}
.tracks {
    margin-top: 1vh;
    width: 100%;
}

.releaseDetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vh;
    margin-top: 10vh;
}

#cover{
    display: inline-block;
    object-fit: scale-down;
    min-width: 20vh;
    max-width: auto;
    max-width: 300px;
    max-height: auto;
}