.desc {
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    height: 100%;
    width: 100%;
}

.artistDetail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 5vh;
    margin-left: 5vh;
}


#coverDetail {
    display: flex;
    width: 300px;
    height: 300px;
}
