


.app {
    text-align: center;
    font-family: sans-serif, "Helvetica";
    background-color: #FFFFFF;
    color: #2C2A2D;
  }
  
.header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vh 2vh 2vh;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 3vh;
  padding-bottom: 4vh;
  width: 100%
}

.sectionHeader {
  padding-bottom: 1vh;
}

#releases {
  display: flex;
  flex-flow: column;
  padding-left: 3vh;
}

.release {
  display: flex; 
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  padding-bottom: 2vh;
  font-size: 1.75vh;
  margin-right: 1vh;
}

.displayGrid {
  min-width: 84vh;
  max-height: 55vh;
  display: flex;
  justify-content: space-between;
  /* flex-flow: row wrap; */
  /* padding-left: 1.5vh; */
}

.displayGrid::after {
  content: "";
  flex: auto;
}
.cover {
  width: 20vh;
  height: 20vh;
}

.artist {
  display: flex; 
  flex-flow: column;
  text-align: center;
  justify-content: center;
  font-size: 1.75vh;
  border: 1px solid slategray;
  min-width: 20vh;
  min-height: 20vh;
  margin-right: 1vh;
}



.description {
  min-height: 3vh;
  width: 100%;
  height: 20%;
  align-content: center;
}

.news {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 3vh;
  padding-bottom: 4vh;
  width: 100%
}

#navLinks {
  display: flex;
  justify-content: space-between;
  width: 55%;
  min-width: 40vh;
  padding-right: 2vh;
}

#about {
  width: 80%;
}
#lastRow {
  display: flex;
  flex-direction: row;
}