.Header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vh 2vh 3vh;
    margin-bottom: 10vh;
  }

  #navLinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 40vh;
    padding-right: 4vh;
  }