
.text {
  display: inline-flex;
  border-bottom: solid transparent;
 }
 
 .active .text {
   padding: 0em;
   border-bottom: solid #ffcebe;
   box-sizing: border-box;
 }


#navLinks {
  display: flex;
  flex-direction: column;
  padding-left: .75em;
  justify-content: space-between;
  object-fit: contain;
  height: 15vh;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 3vmin;
}

#layout {
  background-color: #FFFFFF;
  color: #2C2A2D;
  width: 100%;
  height: 100%;
  margin-right: 1vh;
  display: grid;
  grid-template-areas: 
  'header  header'
  'sidebar app';
  grid-template-columns: .5fr 2.5fr;
  grid-template-rows:  .25fr 3fr;
}